<launch>
  <arg name="frame_id_1" default="hokuyo_laser_scanner_1" />
  <arg name="frame_id_2" default="hokuyo_laser_scanner_2" />
  <arg name="cloud_destination_topic" default="/merged_cloud" />
  <arg name="scan_destination_topic" default="/scan" />
  <arg name="laserscan_topics" default="/front_right/scan /back_left/scan" />
  <arg name="destination_frame" default="base_link" />
  <arg name="standalone" default="false" />
  <arg name="open_rviz" default="false" />

  <!-- required for standalone launch file testing -->
  <group if="$(arg standalone)"> 
    <include file="$(find caato2_bringup)/launch/include/description.launch" />
  </group>

    <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find caato2_bringup)/rviz/bringup.rviz"/>
  </group>

  <!-- Launch two hokuyo lidars -->
  <group ns="front_right">
    <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
      <param name="ip_address" value="192.168.1.10"/>
      <param name="serial_port" value="/dev/ttyACM0"/>
      <param name="serial_baud" value="115200"/>
      <param name="frame_id" value="$(arg frame_id_1)"/>
      <param name="calibrate_time" value="true"/>
      <param name="publish_intensity" value="false"/>
      <param name="publish_multiecho" value="false"/>
      <param name="angle_min" value="-2.35"/>
      <param name="angle_max" value="2.35"/>
    </node>
  </group>

  <group ns="back_left">
    <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
      <param name="ip_address" value="192.168.1.11"/>
      <param name="serial_port" value="/dev/ttyACM0"/>
      <param name="serial_baud" value="115200"/>
      <param name="frame_id" value="$(arg frame_id_2)"/>
      <param name="calibrate_time" value="true"/>
      <param name="publish_intensity" value="false"/>
      <param name="publish_multiecho" value="false"/>
      <param name="angle_min" value="-2.356194"/>
      <param name="angle_max" value="2.356194"/>
    </node>
  </group>
    
  <!-- Launch multi laser merger -->
  <arg name="start_delay" default="3" />
  <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen" 
  launch-prefix="bash -c 'sleep $(arg start_delay); $0 $@'">
    <param name="destination_frame" value="$(arg destination_frame)"/>
    <param name="cloud_destination_topic" value="$(arg cloud_destination_topic)"/>
    <param name="scan_destination_topic" value="$(arg scan_destination_topic)"/>
    <param name="laserscan_topics" value ="$(arg laserscan_topics)" /> 
    <param name="angle_min" value="-3.1415926"/>
    <param name="angle_max" value="3.1415926"/>
    <param name="angle_increment" value="0.004358"/>
    <param name="scan_time" value="0.025"/>
    <param name="range_min" value="0.10"/>
    <param name="range_max" value="10.0"/>
	</node>

  <!-- Speckle Filter -->
  <!-- <include file="$(find laser_filters)/examples/speckle_filter_example.launch"/> -->

</launch>
