<launch>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="recording" default="false"/>
  <arg name="teleop" default="true"/>
  <!-- <arg name="world_name" default="worlds/empty.world"/> -->
  <arg name="world_name" value="$(find caato2_gazebo)/worlds/mbc.building.nodoors.world"/>
  <arg name="map_file" default="$(find caato2_gazebo)/maps/mbc/lvl10/mbc.yaml"/>
  <arg name="robot_namespace" default="/caato2" />
  <arg name="x" default="30.50"/>
  <arg name="y" default="-18.91"/>
  <arg name="z" default="0.157"/>
  <arg name="yaw" default="-3.1415" />
  <arg name="rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>


  <!-- IMPORTANT: INCLUDE BELOW SO THAT NO DELAY IN LOADING GAZEBO -->
  <env name="GAZEBO_MODEL_DATABASE_URI" value="anything" /> 
  <env name="GAZEBO_MODEL_PATH" value="$(find caato2_gazebo)/models" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/> 
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="recording" value="$(arg recording)"/>
    
  </include>

  <include file="$(find caato2_navigation)/launch/caato2_navigation.launch">
    <arg name="map_file" value="$(arg map_file)"/> 
    <arg name="open_rviz" value="$(arg rviz)"/> 
  </include>


  <!-- Spawn robot in gazebo -->
  <node name="spawn_caato2_model" pkg="gazebo_ros" type="spawn_model"
    args="-x $(arg x)
    -y $(arg y)
    -z $(arg z)
    -Y $(arg yaw)
    -unpause
    -urdf
    -param robot_description
    -model $(arg robot_namespace)" />


  <node if="$(arg teleop)" name="teleop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/>


    <!-- Launch multi laser merger -->
  <arg name="start_delay" default="3" />
  <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger"
    launch-prefix="bash -c 'sleep $(arg start_delay); $0 $@'">
    <param name="destination_frame" value="base_link"/>
    <param name="cloud_destination_topic" value="/merged_cloud"/>
    <param name="scan_destination_topic" value="/scan"/>
    <param name="laserscan_topics" value ="/front_left/scan /back_right/scan" /> <!-- LIST OF THE LASER SCAN TOPICS TO SUBSCRIBE -->

    <param name="angle_min" value="-3.14"/>
    <param name="angle_max" value="3.14"/>
    <param name="angle_increment" value="0.0058"/>
    <param name="scan_time" value="0.0333333"/>
    <param name="range_min" value="0.30"/>
    <param name="range_max" value="50.0"/>
	</node>
</launch>
