<launch> 
  <arg name="robot_name" default="caato2" />
  
  <!-- Description File (Loads URDF) -->
  <include file="$(find caato2_bringup)/launch/include/description.launch" />

  <!-- Launch bluetooth ds4 controller -->
  <include file="$(find ds4_driver)/launch/ds4_twist.launch" />

  <!-- Launch roboteq motor controller -->
  <include file="$(find caato2_bringup)/launch/include/caato2_motors.launch" />

 <!-- Launch lasers + merger -->
  <include file="$(find caato2_bringup)/launch/include/caato2_lasers.launch" />

   <!-- Launch realsense -->
  <include file="$(find caato2_bringup)/launch/include/caato2_realsense.launch" />


</launch>
