<launch>
    <include file="$(find caato2_bringup)/launch/include/description_caato_3d_no_fp.launch" />

    <include file="$(find caato2_bringup)/launch/include/caato2_3d_lasers.launch" />

    <include file="$(find roboteq_diff_driver)/launch/driver.launch" >
    <arg name="base_frame" value="base_link"/>
    <arg name="pub_odom_tf" value="false"/>
    </include>

    <include file="$(find caato_teleop)/launch/ds4.launch" />

</launch>
