<launch>
  <arg name="robot_name" default="caato2" />
  
  <!-- Launch roboteq motor controller -->
  <include file="$(find caato2_bringup)/launch/include/caato2_motors.launch" />

  <!-- Launch lasers + merger -->
  <include file="$(find caato2_bringup)/launch/include/caato2_lasers.launch" />
</launch>
